// Define variables for your color scheme

/*   Main colour scheme:  */

/* Bootstrap Colours */
$red: #DB2955;
$blue: #22577A;
$yellow: #F8FA90;
$orange: #EAAC8B;
$green: #3A5A40;
$gray: #333439;
$light-gray: #F4F4F4;

/* Text colours */
$title-colour_main: #3A5A40;
$title-colour_dark: #344E41;
$title-colour_light: #DAD7CD;

/* Background-colours */
$background-colour_main: #DAD7CD;
$background-colour_green: #A3B18A;
$background-colour_dark: #3A5A40;
