// Define variables for your color scheme

/*   Main colour scheme:  */

/* Text colours */
$title-colour_main: #3A5A40;
$title-colour_light: #344E41;
$title-colour_dark: #588157;

/* Background-colours */
$background-colour_main: #DAD7CD;
$background-colour_green: #A3B18A;
