<div class="banner d-none d-md-block" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner_photo' %>);">
  <div class="container">
    <h1>Air BikeNRide brings bicycles to urban adventurers</h1>
    <p>Get out there and explore!</p>
    <%= link_to bicycles_path do %>
      <button class="btn btn-primary">See some rides</button>
    <% end %>
  </div>
</div>
