<div class="banner d-none d-md-block" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1528629297340-d1d466945dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2444&q=80');">
  <div class="container">
    <h1>Air BikeNRide brings bicycles to urban adventurers</h1>
    <p>Get out there and explore!</p>
    <%= link_to bicycles_path do %>
      <button class="btn btn-primary">See some rides</button>
    <% end %>
  </div>
</div>
