<div class="container">
  <div class="card info-card">
    <div class="all-bike-card">
      <h3 class="card-title">See all Bicycles</h3>
      <%= link_to bicycles_path do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <p class="card-text">Browse our selection of bicycles to rent</p>
    </div>
  </div>
</div>
