<div class="container">
  <%= link_to bicycles_path do %>
  <div class="card info-card">
    <div class="all-bike-card">
      <h3 class="card-title">See all bicycles</h3>
      <i class="fa-solid fa-magnifying-glass"></i>
      <p class="card-text">Browse our selection of bicycles to rent</p>
    </div>
  </div>
  <% end %>
</div>
