<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <%= render 'shared/info_card' %>
    </div>
  </div>
</div>
<div class="banner d-none d-md-block home_info-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560799486-f4b726357fcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
  <div class="container">
    <h1>Got a bicycle that doesn't get used?</h1>
    <p>Get your ride the love it deserves by renting it out to other users!</p>
    <button class="btn btn-primary">Get started</button>
  </div>
</div>
