// a {
//   text-decoration: none;
// }

.all-bikes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  max-width: 1300px;
  width: 90%;
  justify-content: space-between;
  margin: 30px auto;
  padding-bottom: 50px;
}

.bike-cards {
  display: flex;
  flex-wrap: wrap;
  grid-row: auto;
  grid-column: auto;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: 300px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

  .card-image {
    height: 150px;
    width: 100%;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .card-content {
  flex: 0 0 200px;
  flex-direction: column;
  margin: 0 5px;
  }
  .card-title {
    padding-top: 0;
    margin-top: 0;
    justify-content: center;
  }
}
