.all-bikes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  max-width: 1300px;
  width: 90%;
  justify-items: center;
  justify-content: space-between;
  margin: 30px auto;
  padding-bottom: 50px;
}

.bike-cards {
  display: flex;
  flex-wrap: wrap;
  grid-row: auto;
  grid-column: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 5px 0;
  height: 350px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  color: $title-colour_dark;
  background-color: $background-colour_main;

  .card-image img {
    height: 200px;
    max-height: 50%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }

  .card-content {
    flex: 0 0 250px;
    flex-direction: column;
    padding: 10px 10px;
    height: 50%;
  }
  .card-title {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    position: relative;
    font-size: large;
    font-weight: bolder;
  }
  .card-description {
    position: relative;
    padding-top: 10px;
    text-overflow: ellipsis;
  }
  .bike-price-size {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .card-size {
    position: relative;
    text-align: right;
  }
  .card-price {
    position: relative;
    text-align: right;
    margin-bottom: 5px;
  }

  i {
    display: block;
    text-align: right;
  }
}
