.new_booking {
  background-color: $background-colour-dark;
  border-radius: $border-radius;
  color: $title-colour_light;
  margin-top: 1em;
  padding: 1em;
}

@media (min-width: 768px) {
  .new_booking {
    max-width: 30vw;
  }
}
