.new_booking {
  .btn {
    border-radius: 5px;
    border-color: $background-colour_green;
    color: $background-colour_green;
  }
  .btn:hover{
    background-color: $background-colour_green;
    border-color: $background-colour_main;
    color: whitesmoke;
  }
}

.sticky-card {
  position: sticky;
  top: 0px;
}

.fixed-form-booking {
  color: $title-colour_dark;
  background-color: $background-colour_main;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}

.booking-total {
  width: calc(100% - 80px);
  position: fixed;
  right: -1012px;
  top: 142px;
}

@media (min-width: 768px) {
  .new_booking {
    max-width: 30vw;
  }
}
