.new_booking {
  background-color: $background-colour-dark;
  border-radius: $border-radius;
  color: $title-colour_light;
  margin-top: 1em;
  padding: 1em;

  .btn {
    border-radius: 5px;
    border-color: $background-colour_green;
    color: $background-colour_green;
  }
  .btn:hover{
    background-color: $background-colour_green;
    border-color: $background-colour_main;
    color: whitesmoke;
  }
}

@media (min-width: 768px) {
  .new_booking {
    max-width: 30vw;
  }
}
