.rent-form {
  padding-bottom: 4em;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}

.rental-form {
  background-color: $background-colour-dark;
  border-radius: $border-radius;
  color: $title-colour_light;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;

  h3 {
    text-align: center;
  }

  .btn-holder {
    text-align: center;
  }

  .btn {
    border-radius: 5px;
    border-color: $background-colour_green;
    color: $background-colour_green;
    background-color: $background-colour_dark;
  }
  .btn:hover{
    background-color: $background-colour_green;
    border-color: $background-colour_main;
    color: whitesmoke;
  }
}

  @media (min-width: 768px) {
    .rental-form {
      // max-width: 30vw;
      width: 60%;
  }
}
