.show-bc {
  margin: 25px 50px;
  margin-bottom: 65px;

  h1 {
    margin-bottom: 20px;
  }

  .photos img {
    height: 375px;
    width: 700px;
  }

  .book {
    margin-left: 600px;
  }
}

.contain {
  margin: 100px 150px;
  margin-right: 750px;

  .comment {
    max-height: 250px;
    overflow-y: scroll;
  }
}

.btn {
  border-radius: 5px;
  border-color: $background-colour_green;
  color: $background-colour_green;
  background-color: white;
}
.btn:hover{
  background-color: $background-colour_green;
  border-color: $background-colour_main;
  color: whitesmoke;
}

.rev {
  background-color: #3A5A40;
  color: $background-colour_main;

  .infor {
    background-color: white;
  }
}
